body{
  background-color: #2A2F36;
  color: whitesmoke;
  font-family: ;
}
/*======Header=====*/
  /*!
 * "Fork me on GitHub" CSS ribbon v0.2.0 | MIT License
 * https://github.com/simonwhitaker/github-fork-ribbon-css
*/.github-fork-ribbon {
	width:12.1em;
	height:12.1em;
	position:absolute;
	overflow:hidden;
	top:0;
	right:0;
	z-index:9999;
	pointer-events:none;
	font-size:13px;
	text-decoration:none;
	text-indent:-999999px
}
.github-fork-ribbon.fixed {
	position:fixed
}
.github-fork-ribbon:before,.github-fork-ribbon:after {
	position:absolute;
	display:block;
	width:15.38em;
	height:2em;
	top:3.23em;
	right:-3.23em;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg)
}
.github-fork-ribbon:before {
	content:"";
	padding:.38em 0;
	background-color:#2A2F36;
	background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.15)));
	background-image:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.15));
	background-image:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.15));
	background-image:-ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.15));
	background-image:-o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.15));
	background-image:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.15));
	-webkit-box-shadow:0 .15em .23em 0 rgba(0,0,0,0.5);
	-moz-box-shadow:0 .15em .23em 0 rgba(0,0,0,0.5);
	box-shadow:0 0.45em 1.13em 0 rgba(0,0,0,0.5);
	pointer-events:auto
}
.github-fork-ribbon:after {
	content:attr(title);
	color:#fff;
	font:700 1em "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height:1.54em;
	text-decoration:none;
	text-shadow:0 -.08em rgba(0,0,0,0.5);
	text-align:center;
	text-indent:0;
	padding:.15em 0;
	margin:.15em 0;
	border-width:.08em 0;
	border-style:dotted;
	border-color:#fff;
	border-color:rgba(255,255,255,0.7)
}
header {
    background-color: #61C791;
    padding: 10px;
}
header h1{
  font-size: 40px;
}

/*======Font Input Box======*/
.ng-invalid{
  background-color: #F23C55;
}
.ng-not-empty{
  background-color: #E0FFB3;
}
.input-container{
  width: 30%;
}
.input-container, input{
  margin: auto;
  min-width: 205px;
}
.input-container input{
  width: 100%;
}
.input{
  text-align: center;
  height: 50px;
  margin-top: 5%;
  border: dotted grey 5px;
  border-radius: 5px;
  font-size: 25px;
  color: #2A2F36;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/*=====Generated results Section=====*/
.results{
    border: solid #31797D 5px;
}
.size-cols ul{
  border: solid #31797D 2px;
}
.size-cols ul, .results{
    border-radius: 5px;
    overflow: auto;
    margin-top: 5%;
    transition: 0.5s;
}
.size-cols ul li{
    border-bottom: solid grey 2px;
    font-size: 20px;
    background-color:#F23C55;
    transition: 0.5s;
}
.size-cols ul li:first-child {
    border-bottom: solid grey 2px;
    font-size: 30px;
    background-color: #31797D;
}

/*=====Add New BreakPoint===*/
.add-break{
  display: flex;
  width:100%;
  margin: 2% auto;
}
.add-break input, .add-break button{
  font-size: 15px;
  min-width: 205px
  width: 30%;
}
.add-break input{
  margin-left: auto;
}
.add-break button{
  margin-right: auto;
}

/*=====Footer====*/
footer{
  background-color: #61C791;
  padding: 23px 0;
  position: relative;
  bottom: -35px;
  width: 100%;
}
footer a,footer a:hover{
  color:#2A2F36;
}
.visible-600{
  display: none;
}
@media (max-width:480px){
  .add-break{
    display:block;
    width: 100%
  }
  .add-break input, .add-break button{
    font-size: 15px;
    min-width: 30%;
    width: 100%;
    margin: 2% auto;
  }
  .size-cols ul li:first-child {
    font-size: 25px;
  }
}

@media (max-width:600px) {
    .hidden-600{
      visibility: hidden;
    }
    .visible-600{
      display: block;
    }
    .visible-600::before {
      content: "";
      height: 2px;
      background-color: #31797D;
      width: 100%;
      display: block;
      border-radius: 50%;
      margin: 10px 0;
    }
}
