body{
  background-color: #2A2F36;
  color: whitesmoke;
  font-family: ;
}
header {
    background-color: #61C791;
    padding: 10px;
}
header h1{
  font-size: 40px;
}
.ng-invalid{
  background-color: #F23C55;
}
.ng-not-empty{
  background-color: #E0FFB3;
}
.input-container{
  width: 30%;
}
.input-container, input{
  margin: auto;
  min-width: 205px;
}
.input-container input{
  width: 100%;
}
input{
  text-align: center;
  height: 50px;
  margin-top: 5%;
  border: dotted grey 5px;
  border-radius: 5px;
  font-size: 25px;
  color: #2A2F36;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
.results{
    border: solid #31797D 5px;
}
.size-cols ul{
  border: solid #31797D 2px;
}
.size-cols ul, .results{
    border-radius: 5px;
    overflow: auto;
    margin-top: 5%;
    transition: 0.5s;
}
.size-cols ul li{
    border-bottom: solid grey 2px;
    font-size: 20px;
    background-color:#F23C55;
    transition: 0.5s;
}
.size-cols ul li:first-child {
    border-bottom: solid grey 2px;
    font-size: 30px;
    background-color: #31797D;
}
.add-break{
  display: flex;
  width:100%;
  margin: 2% auto;
}
.add-break input{
  margin:auto;
  font-size: 15px;
  min-width: 160px
}
footer{
  background-color: #61C791;
  padding: 23px 0;
}
footer a,footer a:hover{
  color:#2A2F36;
}
